<div class="container">
  <div class="row mt-4">
      <h3>TuSegundazo.com</h3>
  </div>
  <hr />
  <div class="row logo">      
    <img src="../../assets/logo.png">   
  </div>
  <hr />
  <div class="row mt-4">
      <div class="col mb-2" >
          <table class="table">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Línea</th>
                  <th scope="col">Modelo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehiculo of vehiculos index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{vehiculo.marca}}</td>
                  <td>{{vehiculo.linea}}</td>
                  <td>{{vehiculo.modelo}}</td>
                </tr>

            </table>
       </div>
  </div>
  <div>
      <span>Total Renault: {{totalRenault}}</span><br>
      <span>Total Chevrolet: {{totalChevrolet}}</span><br>
      <span>Total Nissan: {{totalNissan}}</span>
  </div>
  <div class="contact text-center">
    <p class="">Contact us_ +57 3102105253 -info@tusegundazo.com - @tusegundazo</p>
  </div>
</div>
